<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <h1>Create</h1>
      </div>
  
      <form method="post">
        <input type="text" id="name" class="fadeIn second" name="name" placeholder="name">
        <input type="text" id="description" class="fadeIn third" name="description" placeholder="description">
        <input type="text" id="image" class="fadeIn third" name="image" placeholder="image">
        <select name="type">
        <option value="t-shirt">t-shirt</option>
        <option value="shoes">shoes</option>
        <option value="hat">hat</option>
        <option value="shirt">shirt</option>
        </select>
        <input type="submit" class="fadeIn fourth" value="Create Item!">
      </form>
    </div>
  </div>