<!-- Page Content -->
<div class="container details">

  <!-- Portfolio Item Heading -->
  <h1 class="my-4">{{item.name}}
  </h1>

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-8">
      <img class="img-fluid item-img" src={{item.img}} alt="">
    </div>



    <div class="col-md-4">
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              <h4 class="my-3">Описание </h4>
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <h5>{{item.description}}</h5>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseOne">
              <h4 class="my-3">Цена</h4>
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <h5>20лв</h5>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              <h4 class="my-3">Направи Поръчка </h4>
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <form>
                <div class="item">
                  <label for="name" name="name">Име</label>
                  <input placeholder="" id="name" value="" type="text">
                </div>

                <div class="item">
                  <label for="lastname" name="email">Фамилия</label>
                  <input placeholder="" id="lastname" type="text">
                </div>

                <div class="item">
                  <label for="email" name="email">Имейл</label>
                  <input placeholder="" id="email" type="text">
                </div>

                <div class="item">
                  <label for="phone" name="email">Телефон</label>
                  <input placeholder="" id="phone" type="text">
                </div>

                <div class="item">
                  <label for="childrenName" name="childrenName">Име на детето</label>
                  <input placeholder="" id="childrenName" value="" type="text">
                </div>

                <div class="item">
                  <label for="exampleFormControlSelect1">Текст за видео поздрава</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>

                <div class="item">
                  <button type="submit" class="btn btn-primary mb-3" id="button-mid">Поръчай</button>
                </div>

              </form>
            </div>
          </div>
        </div>

        
      </div>

    </div>
    <!-- /.row -->

    <!-- Related Projects Row -->
  </div>
  <!-- /.container -->


  <script defer>
    const name = document.getElementById("name")
    const last = document.getElementById("lastname")
    const phone = document.getElementById("phone")
    const email = document.getElementById("email")

    const btnSumbit = document.getElementById("button-mid")

    btnSumbit.addEventListener("click", (e) => {
      if (name.value.length <= 0) {
        e.preventDefault()
      }

      if (last.value.length <= 0) {
        e.preventDefault()
      }

      if (phone.value.length <= 0) {
        e.preventDefault()
      }

      if (email.value.length <= 0) {
        e.preventDefault()
      }


    })
  </script>