<!-- Page Content -->
<div class="container details">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">{{item.name}}
    </h1>
  
    <!-- Portfolio Item Row -->
    <div class="row">
  
      <div class="col-md-8">
        <img class="img-fluid item-img" src={{item.img}} alt="">
      </div>
  
      <div class="col-md-4">
        <h3 class="my-3">Description</h3>
        <p>{{item.description}}</p>
        <h3 class="my-3">Product Actions</h3>
        <ul class="actions">
          <li><button class="btn btn-warning">Edit</button></li>
          <li><button class="btn btn-danger">Delete</button></li>
        </ul>
      </div>
  
    </div>
    <!-- /.row -->
  
    <!-- Related Projects Row -->
  </div>
  <!-- /.container -->