<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <h1>Edit</h1>
      </div>
  
      <form>
        <input type="text" id="name" class="fadeIn second" name="create" placeholder="name">
        <input type="text" id="description" class="fadeIn third" name="create" placeholder="password">
        <input type="text" id="description" class="fadeIn third" name="create" placeholder="password">
        <input type="text" id="imgage" class="fadeIn third" name="create" placeholder="image">
        <input type="text" id="description" class="fadeIn third" name="create" placeholder="TRQBWA DA SE DOVURSHI">
        <input type="submit" class="fadeIn fourth" value="Create Item!">
      </form>
  
    </div>
  </div>