<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <h1>Register</h1>
      </div>
  
      <!-- Register Form -->
      <form method="post">
        <input type="text" id="username" class="fadeIn second" name="username" placeholder="username">
        <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
        <input type="password" id="repeatPass" class="fadeIn third" name="repeatPassword" placeholder="repeat password">
        <input type="submit" class="fadeIn fourth" value="Register">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="/profile/login">Already registered?</a>
      </div>
  
    </div>
  </div>